@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    cursor: none !important;
}
*:hover{
    cursor: none !important;
}
@media(max-width: 768px){
    *, *:hover{
        cursor: auto;
    }
}
:root{
    --bg-secondary: #777990;
    --black: #000000;
    --light-black: #14142b;
    --white: #FFFFFF;
    --border-color: #ccc;
    --main-text-color: #4e4b66;
    --pink: #f6f7ff;
    --soft-black: #222222;
}
html{
    font-size: 67.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}
ul, ol{
    list-style: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
body a{
    text-decoration: none;
    color: var(--black);
}
body a:hover{
    color: var(--black);
}