*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
html{
    font-size: 67.5%;
}
ul, ol{
    list-style: none;
}
body a{
    text-decoration: none;
    color: #000000;
}